@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* CSS Document */

body {
	width:100%;
	margin:0;
	padding:0;
}

#topMenu {
	position:absolute;
    background-image: linear-gradient(#0b275a,#00103c);
	color: #fff;
	text-transform:uppercase;
	font-size:20px;
	height:100px;
	width:100%;
}

#topMenu nav {
	margin-right:auto;
	margin-left:auto;
}

#topMenu li {
	padding-top:15px;
	display:inline-block;
	border:1px solid #000;
	padding-right:5px;
}

#topMenu li:hover {
	color:#EEE;
}


#topMenuImg {
	padding-top:0;
	vertical-align:top;
}

#topMenuImg img {
	height:40px;	
}

#main {
	height:400px;
	width:100%;
	background-image: url(http://duke.edu/sites/default/files/styles/top-feature-background/public/gardensbridge_0.jpg?itok=H310SPdT);
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 100%; /*chrome*/
	-moz-background-size: 100%; /*mozilla*/
	-o-background-size: 100%; /*opera*/
	background-size: 100%; /*IE*/
}

#main h1 {
	color:#FFF;
	margin-right:auto;
	margin-left:auto;
	vertical-align:middle;
	font-size:90px;
	font-family:'Open Sans';
}


#bottomMenu { 
	position: absolute;
    width:100%;
	height:150px;
	background-color: #1F1F1F;
	color:#FFF;
}

#bottomMenu nav {
	margin-right:auto;
	margin-left:auto;
}

#bottomMenu li {
	padding-top:15px;
	display:inline-block;
	border:1px solid #000;
	padding-right:5px;
}

#bottomMenu li:hover {
	color:#EEE;
}

#section1 {
	
		
}